
@font-face {
	font-family: inconsolata;
	src: url(../Inconsolata-VariableFont_wdth\,wght.ttf);
}

.hero {

	background-image: url(../img/42455-coding-wallpaper-1920x1080-15870630209758.jpg);
	background-size: cover;
	/* background-position-y: -250px; */
	/* background-attachment: fixed; */
	cursor: default;
	height: 100vh;
	background-repeat: no-repeat;
	background-position: left;
	
}

.main {
		background-color: #141414;
		color: white;
}

.tech::before {
	content: "Technical skills";
	margin-bottom:40px ;
    color: white;
	font-size: 27px;;
	
}


.center-block  span {
		color: #BD2055;
		font-weight: 600;
	}
.center-block > p > span:hover {
		color: #EDA052;
		transition: all 0.5s;
	}

.right > .cards > div:hover {
	background-color:#BD2055;
	transition: 0.5s;
	}

.bar  p {
	display: inline-block;
	font-size: 20px;
	/* width: 100%; */
	place-self: end;
}

.percent {
	float: right;
}

