.container {
    width: 100%;
    font-family: inconsolata;
}

    .hero {
        height: 95vh;
        width: 100%;
        display: grid;
        grid-template-columns: 50px 1fr 50px;
        grid-template-rows: 50px 1fr;
    }
    
        .center-block {
            width: 90%;
            place-self: center;
            /* background-color: aqua; */
            display: inline-block;
            padding:50px;
            /* text-align: center; */
            grid-row: 2/3;
            grid-column: 2/3;
            align-self: center;
            margin-bottom: 200px;
            color: white;
        }
            .center-block > p {
                font-size: 40px;
                overflow: hidden; 
                
            }

            .center-block > h1 {
                font-size: 200px;
                text-transform: uppercase;
            }

                .center-block > .socials > a {
                    color: white;
                    text-decoration:none;
                    font-size: 20px;
                }
            
    
/* About me section */

    .main {
        padding:30px;
        display: grid;
        height: 90vh;
        width: 100%;
        /* background-color: green; */
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 100px 1fr;
    }

        .main .about >h2 {
            text-transform: uppercase;
            font-size: 50px;
        }

            .main .about >h2 > span {
                color: #BD2055;
            }

        .main .left {
            grid-row: 2/3;
            grid-column: 1/2;
        }

        .main .right {
            grid-row: 2/3;
            grid-column: 2/3;
        }

        .main .about {
            grid-row: 1/2;
            grid-column: 1/3;
            text-align: center;
            align-self: center;
        }

        .left {
            display: grid;
            grid-template-rows: 40px 1fr;
            grid-template-columns: 1fr 1fr;
            align-self: center;
            margin-top: 40px;
            
        }

            .left > .infoleft {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                list-style-type: none;
                grid-row: 2/3;
                grid-column: 1/2;
                justify-self: end;
                padding: 0px 0px 0px 20px;
                font-size: 22px;
                color: #BD2055;
                margin-top: 40px;
            }

                .left li {
                    padding-bottom: 30px;
                }

            .left > h3 {
                grid-row: 1/2;
                grid-column: 1/3;
                text-align: center;
                font-size: 30px;
                
            }
            .left > .inforight {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                list-style-type: none;
                grid-row: 2/3;
                grid-column: 2/3;
                justify-self: center;
                padding: 0px 20px 0px 0px;
                font-size: 22px;
                margin-top: 40px;
            }

                .left > .inforight > li:last-of-type {
                    color: #EDA052;
                    font-weight: 600;
                }

        .right {
            display: grid;
            grid-template-rows: 40px 1fr;
            text-align: center;
            align-self: center;
            
        }

            .right > .cards {
                display: grid;
                grid-template-columns: repeat(3, minmax(50px, 100px));
                grid-gap: 20px;
                justify-self: center;
                margin-top: 50px;
            }

            .right > h3 {
                font-size: 30px;
            }

                .right > .cards > div {
                    background-color: #EDA052;
                    text-align: center; 
                    height: 100px;
                    padding: 20px;
                    border-radius: 10px;
                    
                }

                    .right > .cards > div > p {
                        justify-self: center;
                        color: white;
                        margin-top: 10px;
                    }

                    .right > .cards > div .fa {
                        width: 100%;
                        font-size: 35px;
                        color: white;
                    }


    .skills {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 150px 620px;
        background-color: #33292a;
        color: white;
    }

        .skills > h3 {
            font-size: 50px;
            text-transform: uppercase;
            color: white;
        }

        .skills > .tech {
            grid-row: 2/3;
            grid-column: 1/2;
            padding: 0px 110px;
            align-self: center;
        }

            .skills  h4 {
                margin-bottom:40px ;
                color: white;
                font-size: 27px;
                font-weight: 500;

            }

        .skills > .prof {
            grid-row: 2/3;
            grid-column: 2/3;
            padding: 0px 110px;
            align-self: center;
        }

        .skills > h3 {
            grid-row: 1/2;
            grid-column: 1/3;
            text-align: center;
            width: 100%;
            align-self: center;
        }
    